<div>
    <mat-toolbar color="primary" class="header">
        <div class="main-navigation">
            <div id="imgWrapper">
                <img src="/assets/imgs/main-logo.png" alt="">
            </div>
            <div id="linksWrapper">
                <a mat-button routerLink="{{this.home}}" routerLinkActive="activeLink">HomePage</a>
                <a mat-button routerLink="{{this.signIn}}" routerLinkActive="activeLink">Categories</a>
                <a mat-flat-button routerLink="{{this.signIn}}" routerLinkActive="activeLink">Add New</a>
            </div>
        </div>
        <div class="access-navigation">
            <a mat-stroked-button routerLink="{{this.signUp}}" routerLinkActive="activeLink">
                <mat-icon matTextPrefix>person_add</mat-icon>
                Sign Up</a>
            <a mat-flat-button routerLink="{{this.signIn}}" routerLinkActive="activeLink">
                <mat-icon matTextPrefix>person</mat-icon>
                Sign In</a>
        </div>
    </mat-toolbar>
</div>