<div class="container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Registration form</mat-card-title>
            <mat-card-subtitle>Please sign up to continue!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="mainForm" (ngSubmit)="submit()">  
                <div *ngFor = "let i of getFormFields()">
                        <div *ngIf="i!='Password'; else passwordBlock">
                            <mat-form-field appearance="fill">
                                <mat-label>{{i}}</mat-label>
                                <input matInput name="{{i}}" formControlName={{i}} placeholder="Enter your {{i}}" (blur)="setError(i)">
                                <mat-icon matTextPrefix>{{i=='Login'?'person':'mail'}}</mat-icon>
                                <mat-error *ngIf="this.mainForm.controls[i].invalid">{{i=='Login' ? this.loginError : this.emailError}}</mat-error>  
                            </mat-form-field>
                        </div>
                        <ng-template #passwordBlock>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>{{i}}</mat-label>
                                    <input matInput [type]="this.hide ? 'password' : 'text'" formControlName={{i}} placeholder="Enter your {{i}}" (blur)="setError(i)" />
                                    <mat-icon matTextPrefix (click)="clickEvent()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{this.hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                                    <mat-error *ngIf="this.mainForm.controls[i].invalid">{{this.passwordError}}</mat-error>
                                </mat-form-field>
                            </div>     
                        </ng-template>
                    </div>
                    <mat-card-actions>
                        <access-app-button [buttonValue]="this.buttonValue" [disabled]="this.mainForm.invalid"></access-app-button>
                    </mat-card-actions>    
            </form>
        </mat-card-content>
        <mat-card-actions>
            <access-app-reference [extraContent]="this.extraContentLink" [contentLink]="this.contentLink" [routLink]="this.urlLink"></access-app-reference>
        </mat-card-actions>
    </mat-card>
</div>