<p>Registration form</p>
<form [formGroup]="mainForm"  (ngSubmit)="submit()">  
        <div *ngFor = "let i of getFormFields()">
            <div [ngSwitch]="i">
                <div *ngSwitchCase="'Login'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{i}}</mat-label>
                        <input matInput name="{{i}}" formControlName={{i}} placeholder="Enter your {{i}}">
                        <mat-icon matTextPrefix>person</mat-icon>
                    </mat-form-field>
                </div>
                <div *ngSwitchCase="'Password'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{i}}</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" formControlName={{i}} placeholder="Enter your {{i}}" />
                        <button type="button" mat-icon-button matTextPrefix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div *ngSwitchCase="'Email'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{i}}</mat-label>
                        <input matInput name="{{i}}" formControlName={{i}} placeholder="Enter your {{i}}">
                        <mat-icon matTextPrefix>mail</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <access-app-button [buttonValue]="this.buttonValue" [disabled]="this.mainForm.invalid"></access-app-button>
        <access-app-reference [extraContent]="this.extraContentLink" [contentLink]="this.contentLink" [routLink]="this.urlLink"></access-app-reference>    
</form>
